.mapMain{
    display: grid;
 grid-template-columns: repeat(2, auto);
 gap: 20px 20px;
}
.doesIt {
  display: flex;
  align-items: center;
  gap: 20px;
}

.circel {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: rgba(217, 217, 217, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
.persona > p:first-child {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.persona > p:last-child {
  width: 75%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4d4d4d;
  /* word-spacing: 20px; */
  letter-spacing: .10rem;
}
