.mapMain{
    display: grid;
 grid-template-columns: repeat(2, auto);
 gap: 20px 0px;
}
.doesIt {
  display: flex;
  align-items: center;
  gap: 20px;
}

.circel {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: rgba(217, 217, 217, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
.circel>img{
  /* width:32px;
height:16px; */
}
.persona > p:first-child {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.persona > p:last-child {
  width: 75%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4d4d4d;
  /* letter-spacing: .10rem; */
}


/* ------------Terms and Conditions----------- */
.terms{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.terms>a{
  font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #800080;
text-decoration: none;
}


@media screen and (max-width: 428px){
  .mapMain{
    grid-template-columns: repeat(1, auto);
  }
  .persona > p:last-child{
    width: 100%;
  }
}
@media screen and (max-width: 768px){
  .mapMain{
    grid-template-columns: repeat(1, auto);
    margin: auto;
  }
  .persona > p:last-child{
    width: 100%;
  }
}