.dow {
  position: absolute;
  width: 100%;
  height: 76px;
  left: 0px;
  top: 73px;
  background: #ffffff;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  padding: 0px 187px;
}
.dow > p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}
/* .dow ::after{
  content: ">";
}
.dow:last-child ::after{
  display: none;
} */

@media screen and (max-width: 428px) {
  .dow {
    width: 100%;
    padding: 0px 18px;
  }
}
@media screen and (max-width: 768px) {
  .dow {
    padding: 0px 50px;
    mix-blend-mode: normal;
  }
}
