.bod {
  position: absolute;
  top: 179px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0px 187px;
  gap: 40px;
}
.dashboard {
  display: flex;
  align-items: first baseline;
  gap: 93px;
}
.dashboard1 {
  width: 486px;
  height: 188px;
  padding: 20px 22.5px;
  background: #ffffff;
  box-shadow: 0px 3px 100px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.referMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.referMainChild {
  /* display: flex;
  flex-direction: column;
  gap: 10px; */
}
.referMainChild > p:first-child {
  width: 111px;
  height: 21px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #800080;
}
.referMainChild > p:last-child {
  width: 116px;
  height: 48px;

  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
}
.dblock {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 8px 16px;
  gap: 10px;
}
.dblock > button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: 0px;
  padding: 8px 16px;
  background: #800080;
  border-radius: 20px;
  color: #ffffff;
}

/* -----------Dashboard 2---------------- */

.dadhboard2 {
  width: 358px;
  height: 105px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
}
.heading {
  /* width: 228px; */
  height: 36px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #800080;
  /* margin-bottom: 9px; */
}
.frame {
  box-sizing: border-box;
  border: 1.5px solid;
  border-radius: 10px;
  border-image-slice: 2;
  /* border-image:; */
  border-image-source: linear-gradient(270deg, #800080 0%, #ff864c 100%);
  width: 358px;
  height: 60px;
  padding: 15px 64px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #800080;
  letter-spacing: auto;
  text-transform: uppercase;
}

@media screen and (max-width: 428px) {
  .bod {
    padding: 0px 25px;
  }
  .dashboard {
    flex-direction: column;
  }
  .dashboard1 {
    position: relative;
    width: 358px;
  }
  .referMain {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-bottom:-100px;
  }
  .dblock {
    position: absolute;
    top: 50%;
    right: 0;
    width: 180px;
    height: 40px;
  }
  .dblock > button {
  }
}
@media screen and (max-width: 768px) {
  .bod {
    padding: 0px 40px;
    mix-blend-mode: normal;
  }
  .dashboard {
    flex-direction: column;
    margin: auto;
  }
  /* .dashboard1 {
    position: relative;
    width: 358px;
  } */
}