.navbar {
    position: absolute;
    width: 80%;
    height: 73.03px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 74px;
  }
  .rightNavbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
  }
  .rightNavbar>p{
    /* margin-right: 0rem; */
    color: #80008040;
    ;
  }
  .profileBar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color:  #800080;
    gap: 10px
    ;
  }
  .rightNavbar p {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
  }
  