.friends{
    position: absolute;
    top: 179px;
    width: 100%;
    display: flex;
    /* align-items: flex-start; */
    flex-direction: column;
    padding: 0px 187px;
    gap: 40px;
}
.referWallet{
    display: flex;
    align-items: center;
    justify-content: space-between;
}