.navbar1 {
  position: absolute;
  height: 73.03px;
  left: 0px;
  right: 0px;
  top: 0px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 74px;
}
.righr {
  width: 70%;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: flex-end;
  color: #80008040;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.5%;
}
.righr1 {
  display: flex;
  align-items: center;
  gap: 28px;
}
.prim {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #800080;
  cursor: pointer;
}
.arrowDown {
  
  font-weight: 500;
  font-size: 18px;
}

@media screen and (max-width: 428px) {
  .navbar1 {
    /* border: 1px solid red; */
    padding: 0px 10px;
    mix-blend-mode: normal;
  }

  .righr1 > p {
    display: none;
  }
  .prim > img {
    display: none;
  }
  .prim {
    width: 165px;
    height: 48px;
    background: #800080;
    border-radius: 10px;
    color: #ffffff;
    padding: 12px 25px;
    gap: 0px;
  }
  .arrowDown {
    font-weight: 500;
    font-size: 2rem;
    color: #ffffff;
  }
}
@media screen and (max-width: 768px){
  .navbar1 {
    padding: 0px 40px;
    mix-blend-mode: normal;
  }
  .righr1 > p {
    display: none;
  }
}