@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* background: #E5E5E5; */
}
/* .navmain{
  position: sticky;
  top: 0;
} */

/* 
@media screen and (max-width: 428px){
  .navbar1, .dow, .bod{
    padding: 0px 10px;
  }
} */