.rfer{
    border: 1.5px solid #DFDFDF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 153px;
    height: 50px;
    box-sizing: border-box;
    padding: 10px;
}
.refera>p{
    color: #800080;
}